{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
        // "plugin:security/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module",
        "node": true,
        "project": "./tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/no-explicit-any": 1,
        "@typescript-eslint/no-floating-promises": 2
    }
}
